.MAIN_FLEX_CONTAINER {
	display: flex;
	flex-direction: column;
	height: 100vh;
}

.USER_HEADER {
}

.USER_MAIN {
	display: flex;
}

.USER_NAME {
	font-family: "Times New Roman", Times, serif;
	font-size: 40px;
	padding: 70px 70px 20px 70px;
}

.USER_EMAIL {
	font-family: "Times New Roman", Times, serif;
	font-size: 20px;
	padding: 0px 70px 20px 70px;
	color: gray;
}

#CARD_IMAGE {
	width: 246px;
}

.card {
	width: 250px;
	border-style: solid;
    border-width: 2px;
    border-color:gray;
}

.card-body {
	border-top-style: solid;
    border-top-width: 10px;
    border-top-color: #336600;
    padding-top: 10px;
    padding-left: 10px;
    font-size: 20px;
    color: #00BCB0;
}

.USER_CARD {
	padding-top: 50px;
    padding-left: 100px;
    width: 500px;
}

.INSURANCE_BACKGROUND_MAIN {
	display: flex;
	width: 100%;
	padding-left: 100px;
	/* padding-right: 100px; */
	padding-right: 50px;
}

.INSURANCE_BACKGROUND_COLUMN {
	flex: 50%;
    padding: 10px;
    height: 300px;
}

.DATA {
	padding-top: 30px;
	padding-left: 35px;
	padding-right: 35px;
	padding-bottom: 15px;
    color: black;
    font-size: 15px;
    font-weight: bold;
}

.RESULT {
	padding-left: 35px;
	padding-right: 35px;
	color: gray;
    font-size: 15px;
}

#SEARCH {
	padding-left: 100px;
	/* padding-top: 20px; */
	padding-top: 80px;
	cursor: pointer;
}

#ORIGINAL_SAFEBUTLER {
	height: 50px;
    width: 50px;
    margin-top: 10px;	
}

#ORIGINAL_DIV_3 {
    bottom: 276px;
    box-sizing: border-box;
    color: rgb(222, 225, 229);
    height: 61px;
    left: 0px;
    position: fixed;
    right: 0px;
    text-decoration: none solid rgb(222, 225, 229);
    text-size-adjust: 100%;
    top: 0px;
    width: 1440px;
    z-index: 9001;
    column-rule-color: rgb(222, 225, 229);
    perspective-origin: 720px 30.5px;
    transform-origin: 720px 30.5px;
    caret-color: rgb(222, 225, 229);
    border: 0px none rgb(222, 225, 229);
    font: normal normal 400 normal 10px / normal avenir-regular, Helvetica, sans-serif;
    outline: rgb(222, 225, 229) none 0px;
}/*#DIV_3*/

#ORIGINAL_DIV_4 {
    bottom: 0px;
    box-sizing: border-box;
    color: rgb(222, 225, 229);
    height: 61px;
    left: 0px;
    position: relative;
    right: 0px;
    text-decoration: none solid rgb(222, 225, 229);
    text-size-adjust: 100%;
    top: 0px;
    width: 1440px;
    column-rule-color: rgb(222, 225, 229);
    perspective-origin: 720px 30.5px;
    transform-origin: 720px 30.5px;
    caret-color: rgb(222, 225, 229);
    background: rgb(255, 255, 255) none repeat scroll 0% 0% / auto padding-box border-box;
    border-top: 0px none rgb(222, 225, 229);
    border-right: 0px none rgb(222, 225, 229);
    border-bottom: 1px solid rgb(222, 225, 229);
    border-left: 0px none rgb(222, 225, 229);
    font: normal normal 400 normal 10px / 60px avenir-regular, Helvetica, sans-serif;
    outline: rgb(222, 225, 229) none 0px;
    overflow: hidden;
}/*#DIV_4*/

#ORIGINAL_DIV_5 {
    box-sizing: border-box;
    color: rgb(222, 225, 229);
    height: 60px;
    /* max-width: 1280px;
    min-width: 1px; */
    text-decoration: none solid rgb(222, 225, 229);
    text-size-adjust: 100%;
    /* width: 1280px; */
    column-rule-color: rgb(222, 225, 229);
    perspective-origin: 640px 30px;
    transform-origin: 640px 30px;
    caret-color: rgb(222, 225, 229);
    border: 0px none rgb(222, 225, 229);
    font: normal normal 400 normal 10px / 60px avenir-regular, Helvetica, sans-serif;
    /* margin: 0px 80px; */
    outline: rgb(222, 225, 229) none 0px;
    /* padding: 0px 100px; */
    padding: 0px 55px;
}/*#DIV_5*/

#ORIGINAL_DIV_6 {
    bottom: 0px;
    box-sizing: border-box;
    color: rgb(222, 225, 229);
    display: flex;
    height: 60px;
    left: 0px;
    position: relative;
    right: 0px;
    text-decoration: none solid rgb(222, 225, 229);
    text-size-adjust: 100%;
    top: 0px;
    /* width: 1101.59px; */
    width: 1440px;
    column-rule-color: rgb(222, 225, 229);
    perspective-origin: 550.797px 30px;
    transform-origin: 550.797px 30px;
    caret-color: rgb(222, 225, 229);
    border: 0px none rgb(222, 225, 229);
    flex-flow: row wrap;
    font: normal normal 400 normal 10px / 60px avenir-regular, Helvetica, sans-serif;
    margin: 0px -10.7969px;
    outline: rgb(222, 225, 229) none 0px;
}/*#DIV_6*/

#ORIGINAL_DIV_9 {
    box-sizing: border-box;
    color: rgb(222, 225, 229);
    height: 60px;
    max-width: 41.6667%;
    min-height: auto;
    min-width: auto;
    text-decoration: none solid rgb(222, 225, 229);
    text-size-adjust: 100%;
    width: 458.984px;
    column-rule-color: rgb(222, 225, 229);
    perspective-origin: 229.484px 30px;
    transform-origin: 229.484px 30px;
    caret-color: rgb(222, 225, 229);
    border: 0px none rgb(222, 225, 229);
    flex: 0 0 41.6667%;
    font: normal normal 400 normal 10px / 60px avenir-regular, Helvetica, sans-serif;
    outline: rgb(222, 225, 229) none 0px;
    overflow: hidden;
    padding: 0px 11.0156px;
}/*#DIV_9*/

#ORIGINAL_A_10, #ORIGINAL_A_11 {
    box-sizing: border-box;
    color: rgb(122, 131, 142);
    letter-spacing: -0.252px;
    text-decoration: none solid rgb(122, 131, 142);
    text-size-adjust: 100%;
    vertical-align: middle;
    column-rule-color: rgb(122, 131, 142);
    perspective-origin: 0px 0px;
    transform-origin: 0px 0px;
    caret-color: rgb(122, 131, 142);
    border: 0px none rgb(122, 131, 142);
    font: normal normal 400 normal 14px / 14px avenir-medium, Helvetica, sans-serif;
    margin: 0px 10px 0px 0px;
    outline: rgb(122, 131, 142) none 0px;
    padding: 0px 10px;
    transition: color 0.2s ease-out 0s;
}/*#A_10, #A_11*/

#ORIGINAL_A_12 {
    box-sizing: border-box;
    color: rgb(122, 131, 142);
    letter-spacing: -0.252px;
    text-decoration: none solid rgb(122, 131, 142);
    text-size-adjust: 100%;
    vertical-align: middle;
    column-rule-color: rgb(122, 131, 142);
    perspective-origin: 0px 0px;
    transform-origin: 0px 0px;
    caret-color: rgb(122, 131, 142);
    border: 0px none rgb(122, 131, 142);
    font: normal normal 400 normal 14px / 14px avenir-medium, Helvetica, sans-serif;
    margin: 0px 10px 0px 0px;
    outline: rgb(122, 131, 142) none 0px;
    padding: 0px 10px;
    transition: color 0.2s ease-out 0s;
}/*#A_12*/

#ORIGINAL_DIV_13 {
    box-sizing: border-box;
    color: rgb(222, 225, 229);
    height: 60px;
    max-width: 50%;
    min-height: auto;
    min-width: auto;
    text-align: right;
    text-decoration: none solid rgb(222, 225, 229);
    text-size-adjust: 100%;
    width: 550.797px;
    column-rule-color: rgb(222, 225, 229);
    perspective-origin: 275.391px 30px;
    transform-origin: 275.391px 30px;
    caret-color: rgb(222, 225, 229);
    border: 0px none rgb(222, 225, 229);
    flex: 0 0 50%;
    font: normal normal 400 normal 10px / 60px avenir-regular, Helvetica, sans-serif;
    outline: rgb(222, 225, 229) none 0px;
    padding: 0px 11.0156px;
}/*#DIV_13*/

#ORIGINAL_A_19 {
    box-sizing: border-box;
    color: rgb(122, 131, 142);
    display: inline-block;
    height: 14px;
    letter-spacing: -0.252px;
    text-align: right;
    text-decoration: none solid rgb(122, 131, 142);
    text-size-adjust: 100%;
    vertical-align: middle;
    width: 99.2344px;
    column-rule-color: rgb(122, 131, 142);
    perspective-origin: 49.6094px 7px;
    transform-origin: 49.6094px 7px;
    caret-color: rgb(122, 131, 142);
    border: 0px none rgb(122, 131, 142);
    font: normal normal 400 normal 14px / 14px avenir-regular, Helvetica, sans-serif;
    margin: 0px 0px 0px 25px;
    outline: rgb(122, 131, 142) none 0px;
    transition: color 0.2s ease-out 0s;
}/*#A_19*/

#ORIGINAL_A_20 {
    box-sizing: border-box;
    color: rgb(0, 0, 0);
    display: inline-block;
    height: 14px;
    letter-spacing: -0.252px;
    text-align: right;
    text-decoration: none solid rgb(0, 0, 0);
    text-size-adjust: 100%;
    vertical-align: middle;
    /* width: 38.0625px; */
    column-rule-color: rgb(0, 0, 0);
    perspective-origin: 19.0312px 7px;
    transform-origin: 19.0312px 7px;
    caret-color: rgb(0, 0, 0);
    border: 0px none rgb(0, 0, 0);
    font: normal normal 400 normal 14px / 14px avenir-regular, Helvetica, sans-serif;
    margin: 0px 10px 0px 25px;
    outline: rgb(0, 0, 0) none 0px;
    transition: color 0.2s ease-out 0s;
}/*#A_20*/

#ORIGINAL_SPAN_21 {
    box-sizing: border-box;
    cursor: pointer;
    letter-spacing: -0.252px;
    text-align: right;
    text-size-adjust: 100%;
    perspective-origin: 0px 0px;
    transform-origin: 0px 0px;
    font: normal normal 400 normal 14px / 14px avenir-regular, Helvetica, sans-serif;
}/*#SPAN_21*/

#DIV_1 {
    box-sizing: border-box;
    color: rgb(0, 24, 55);
    /* height: 7307px; */
    height: 100vh;
    text-decoration: none solid rgb(0, 24, 55);
    width: 1440px;
    column-rule-color: rgb(0, 24, 55);
    perspective-origin: 720px 3653.5px;
    transform-origin: 720px 3653.5px;
    caret-color: rgb(0, 24, 55);
    border: 0px none rgb(0, 24, 55);
    font: normal normal 400 normal 14px / 14px "Avenir Next", "Open Sans", "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    outline: rgb(0, 24, 55) none 0px;
}/*#DIV_1*/

#DIV_2 {
    bottom: -100px;
    box-sizing: border-box;
    color: rgb(0, 24, 55);
    /* height: 337px; */
    height: 100vh;
    left: 0px;
    position: fixed;
    right: 1120px;
    text-decoration: none solid rgb(0, 24, 55);
    /* top: 100px; */
    top: 61px;
    width: 320px;
    z-index: 1;
    column-rule-color: rgb(0, 24, 55);
    perspective-origin: 160px 168.5px;
    transform-origin: 160px 168.5px;
    caret-color: rgb(0, 24, 55);
    background: rgb(255, 255, 255) none repeat scroll 0% 0% / auto padding-box border-box;
    border-top: 0px none rgb(0, 24, 55);
    border-right: 1px solid rgb(222, 225, 229);
    border-bottom: 0px none rgb(0, 24, 55);
    border-left: 0px none rgb(0, 24, 55);
    font: normal normal 400 normal 14px / 14px "Avenir Next", "Open Sans", "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    outline: rgb(0, 24, 55) none 0px;
    overflow: auto;
}/*#DIV_2*/

#DIV_3 {
    box-sizing: border-box;
    color: rgb(0, 24, 55);
    height: 188px;
    text-decoration: none solid rgb(0, 24, 55);
    width: 219px;
    column-rule-color: rgb(0, 24, 55);
    perspective-origin: 109.5px 94px;
    transform-origin: 109.5px 94px;
    caret-color: rgb(0, 24, 55);
    border-top: 0px none rgb(0, 24, 55);
    border-right: 0px none rgb(0, 24, 55);
    border-bottom: 1px solid rgb(222, 225, 229);
    border-left: 0px none rgb(0, 24, 55);
    font: normal normal 400 normal 14px / 14px "Avenir Next", "Open Sans", "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    margin: 0px 40px 0px 60px;
    outline: rgb(0, 24, 55) none 0px;
    padding: 60px 0px;
}/*#DIV_3*/

#DIV_4 {
    box-sizing: border-box;
    color: rgb(0, 24, 55);
    height: 32px;
    letter-spacing: 0.15px;
    text-decoration: none solid rgb(0, 24, 55);
    width: 219px;
    column-rule-color: rgb(0, 24, 55);
    perspective-origin: 109.5px 16px;
    transform-origin: 109.5px 16px;
    caret-color: rgb(0, 24, 55);
    border: 0px none rgb(0, 24, 55);
    font: normal normal 400 normal 24px / 32px "Avenir Next", "Open Sans", "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    outline: rgb(0, 24, 55) none 0px;
}/*#DIV_4*/

#DIV_5 {
    box-sizing: border-box;
    color: rgb(0, 24, 55);
    height: 30px;
    text-decoration: none solid rgb(0, 24, 55);
    width: 219px;
    column-rule-color: rgb(0, 24, 55);
    perspective-origin: 109.5px 15px;
    transform-origin: 109.5px 15px;
    caret-color: rgb(0, 24, 55);
    border: 0px none rgb(0, 24, 55);
    font: normal normal 400 normal 14px / 14px "Avenir Next", "Open Sans", "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    margin: 5px 0px 0px;
    outline: rgb(0, 24, 55) none 0px;
}/*#DIV_5*/

#DIV_6 {
    box-sizing: border-box;
    color: rgb(0, 24, 55);
    display: inline-block;
    height: 30px;
    text-align: left;
    text-decoration: none solid rgb(0, 24, 55);
    width: 140px;
    column-rule-color: rgb(0, 24, 55);
    perspective-origin: 70px 15px;
    transform-origin: 70px 15px;
    caret-color: rgb(0, 24, 55);
    border: 0px none rgb(0, 24, 55);
    font: normal normal 400 normal 14px / 14px "Avenir Next", "Open Sans", "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    outline: rgb(0, 24, 55) none 0px;
}/*#DIV_6*/

#DIV_7, #DIV_10, #DIV_12 {
    box-sizing: border-box;
    color: rgb(0, 24, 55);
    height: 30px;
    text-align: left;
    text-decoration: none solid rgb(0, 24, 55);
    width: 140px;
    column-rule-color: rgb(0, 24, 55);
    perspective-origin: 70px 15px;
    transform-origin: 70px 15px;
    caret-color: rgb(0, 24, 55);
    border: 0px none rgb(0, 24, 55);
    font: normal normal 400 normal 14px / 14px "Avenir Next", "Open Sans", "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    outline: rgb(0, 24, 55) none 0px;
}/*#DIV_7, #DIV_10, #DIV_12*/

#DIV_8 {
    bottom: 0px;
    box-sizing: border-box;
    color: rgb(0, 24, 55);
    height: 30px;
    left: 0px;
    position: relative;
    right: 0px;
    text-align: left;
    text-decoration: none solid rgb(0, 24, 55);
    top: 0px;
    width: 140px;
    column-rule-color: rgb(0, 24, 55);
    perspective-origin: 70px 15px;
    transform-origin: 70px 15px;
    caret-color: rgb(0, 24, 55);
    border: 0px none rgb(0, 24, 55);
    font: normal normal 400 normal 14px / 14px "Avenir Next", "Open Sans", "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    outline: rgb(0, 24, 55) none 0px;
}/*#DIV_8*/

#DIV_9 {
    box-sizing: border-box;
    color: rgb(0, 24, 55);
    height: 30px;
    text-align: left;
    text-decoration: none solid rgb(0, 24, 55);
    width: 140px;
    column-rule-color: rgb(0, 24, 55);
    perspective-origin: 70px 15px;
    transform-origin: 70px 15px;
    caret-color: rgb(0, 24, 55);
    border: 0px none rgb(0, 24, 55);
    font: normal normal 400 normal 14px / 14px "Avenir Next", "Open Sans", "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    outline: rgb(0, 24, 55) none 0px;
}/*#DIV_9*/

#DIV_9:before {
    bottom: 0px;
    box-sizing: border-box;
    color: rgb(0, 24, 55);
    content: '""';
    cursor: pointer;
    display: block;
    height: 30px;
    left: 0px;
    position: absolute;
    right: 0px;
    text-align: left;
    text-decoration: none solid rgb(0, 24, 55);
    top: 0px;
    width: 140px;
    z-index: 1;
    column-rule-color: rgb(0, 24, 55);
    perspective-origin: 70px 15px;
    transform-origin: 70px 15px;
    caret-color: rgb(0, 24, 55);
    border: 0px none rgb(0, 24, 55);
    font: normal normal 400 normal 14px / 14px "Avenir Next", "Open Sans", "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    outline: rgb(0, 24, 55) none 0px;
}/*#DIV_9:before*/

#DIV_11 {
    box-sizing: border-box;
    color: rgb(0, 24, 55);
    height: 30px;
    text-align: left;
    text-decoration: none solid rgb(0, 24, 55);
    width: 140px;
    column-rule-color: rgb(0, 24, 55);
    perspective-origin: 70px 15px;
    transform-origin: 70px 15px;
    caret-color: rgb(0, 24, 55);
    border: 0px none rgb(0, 24, 55);
    font: normal normal 400 normal 14px / 14px "Avenir Next", "Open Sans", "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    outline: rgb(0, 24, 55) none 0px;
}/*#DIV_11*/

#INPUT_13 {
    color: rgb(0, 24, 55);
    cursor: auto;
    height: 30px;
    letter-spacing: 0.15px;
    text-align: left;
    text-decoration: none solid rgb(0, 24, 55);
    width: 140px;
    column-rule-color: rgb(0, 24, 55);
    perspective-origin: 70px 15px;
    transform-origin: 70px 15px;
    caret-color: rgb(0, 24, 55);
    background: rgba(0, 0, 0, 0) none repeat scroll 0% 0% / auto padding-box border-box;
    border-top: 0px none rgb(0, 24, 55);
    border-right: 0px none rgb(0, 24, 55);
    border-bottom: 1px solid rgb(222, 225, 229);
    border-left: 0px none rgb(0, 24, 55);
    font: normal normal 400 normal 16px / normal "Avenir Next", "Open Sans", "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    outline: rgb(0, 24, 55) none 0px;
    padding: 0px;
    transition: none 0s ease 0s;
}/*#INPUT_13*/

#DIV_14 {
    bottom: 6px;
    box-sizing: border-box;
    color: rgb(92, 107, 126);
    height: 16px;
    left: 114px;
    position: absolute;
    right: 10px;
    text-align: left;
    text-decoration: none solid rgb(92, 107, 126);
    top: 8px;
    width: 16px;
    column-rule-color: rgb(92, 107, 126);
    perspective-origin: 8px 8px;
    transform-origin: 8px 8px;
    caret-color: rgb(92, 107, 126);
    border: 0px none rgb(92, 107, 126);
    font: normal normal 400 normal 14px / 14px "Avenir Next", "Open Sans", "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    outline: rgb(92, 107, 126) none 0px;
}/*#DIV_14*/

#DIV_15 {
    box-sizing: border-box;
    color: rgb(92, 107, 126);
    height: 16px;
    text-align: left;
    text-decoration: none solid rgb(92, 107, 126);
    width: 16px;
    column-rule-color: rgb(92, 107, 126);
    perspective-origin: 8px 8px;
    transform-origin: 8px 8px;
    caret-color: rgb(92, 107, 126);
    border: 0px none rgb(92, 107, 126);
    font: normal normal 400 normal 16px / 16px "Avenir Next", "Open Sans", "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    outline: rgb(92, 107, 126) none 0px;
}/*#DIV_15*/

#svg_16 {
    box-sizing: border-box;
    color: rgb(92, 107, 126);
    height: 16px;
    text-align: left;
    text-decoration: none solid rgb(92, 107, 126);
    vertical-align: top;
    width: 16px;
    column-rule-color: rgb(92, 107, 126);
    perspective-origin: 8px 8px;
    transform-origin: 8px 8px;
    caret-color: rgb(92, 107, 126);
    border: 0px none rgb(92, 107, 126);
    font: normal normal 400 normal 16px / 16px "Avenir Next", "Open Sans", "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    outline: rgb(92, 107, 126) none 0px;
    overflow: hidden;
}/*#svg_16*/

#defs_17 {
    box-sizing: border-box;
    color: rgb(92, 107, 126);
    text-align: left;
    text-decoration: none solid rgb(92, 107, 126);
    column-rule-color: rgb(92, 107, 126);
    perspective-origin: 0px 0px;
    transform-origin: 0px 0px;
    caret-color: rgb(92, 107, 126);
    border: 0px none rgb(92, 107, 126);
    font: normal normal 400 normal 16px / 16px "Avenir Next", "Open Sans", "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    outline: rgb(92, 107, 126) none 0px;
}/*#defs_17*/

#path_18 {
    box-sizing: border-box;
    color: rgb(92, 107, 126);
    text-align: left;
    text-decoration: none solid rgb(92, 107, 126);
    column-rule-color: rgb(92, 107, 126);
    perspective-origin: 0px 0px;
    transform-origin: 0px 0px;
    fill: rgb(92, 107, 126);
    d: path('M 28 10.67 L 15.91 22.76 L 4 10.84 L 5.43 9.42 L 15.91 19.9 L 26.57 9.24 L 28 10.67 Z');
    caret-color: rgb(92, 107, 126);
    border: 0px none rgb(92, 107, 126);
    font: normal normal 400 normal 16px / 16px "Avenir Next", "Open Sans", "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    outline: rgb(92, 107, 126) none 0px;
}/*#path_18*/

#DIV_19 {
    bottom: 30px;
    box-sizing: border-box;
    color: rgb(0, 24, 55);
    height: 0px;
    left: 0px;
    position: absolute;
    right: 0px;
    text-align: left;
    text-decoration: none solid rgb(0, 24, 55);
    top: 0px;
    width: 140px;
    column-rule-color: rgb(0, 24, 55);
    perspective-origin: 70px 0px;
    transform-origin: 70px 0px;
    caret-color: rgb(0, 24, 55);
    border: 0px none rgb(0, 24, 55);
    font: normal normal 400 normal 14px / 14px "Avenir Next", "Open Sans", "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    outline: rgb(0, 24, 55) none 0px;
}/*#DIV_19*/

#DIV_20 {
    box-sizing: border-box;
    color: rgb(0, 24, 55);
    /* height: 1640px; */
    height: 100vh;
    text-decoration: none solid rgb(0, 24, 55);
    width: 319px;
    column-rule-color: rgb(0, 24, 55);
    perspective-origin: 159.5px 820px;
    transform-origin: 159.5px 820px;
    caret-color: rgb(0, 24, 55);
    border: 0px none rgb(0, 24, 55);
    font: normal normal 400 normal 14px / 14px "Avenir Next", "Open Sans", "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    outline: rgb(0, 24, 55) none 0px;
}/*#DIV_20*/

#OL_21 {
    box-sizing: border-box;
    color: rgb(0, 24, 55);
    /* height: 1640px; */
    height: 100vh;
    text-decoration: none solid rgb(0, 24, 55);
    width: 319px;
    column-rule-color: rgb(0, 24, 55);
    perspective-origin: 159.5px 820px;
    transform-origin: 159.5px 820px;
    caret-color: rgb(0, 24, 55);
    border: 0px none rgb(0, 24, 55);
    font: normal normal 400 normal 14px / 14px "Avenir Next", "Open Sans", "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    list-style: none outside none;
    /* margin: 0px; */
    outline: rgb(0, 24, 55) none 0px;
    /* padding: 60px 0px 160px; */
    padding: 25px 55px;
}/*#OL_21*/

#LI_22, #LI_58, #LI_62, #LI_66, #LI_70, #LI_74, #LI_78, #LI_82, #LI_86, #LI_90, #LI_94, #LI_98, #LI_102, #LI_106, #LI_110, #LI_114, #LI_118 {
    box-sizing: border-box;
    color: rgb(0, 24, 55);
    height: 42px;
    text-decoration: none solid rgb(0, 24, 55);
    width: 319px;
    column-rule-color: rgb(0, 24, 55);
    perspective-origin: 159.5px 21px;
    transform-origin: 159.5px 21px;
    caret-color: rgb(0, 24, 55);
    border: 0px none rgb(0, 24, 55);
    font: normal normal 400 normal 14px / 14px "Avenir Next", "Open Sans", "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    list-style: none outside none;
    outline: rgb(0, 24, 55) none 0px;
}/*#LI_22, #LI_58, #LI_62, #LI_66, #LI_70, #LI_74, #LI_78, #LI_82, #LI_86, #LI_90, #LI_94, #LI_98, #LI_102, #LI_106, #LI_110, #LI_114, #LI_118*/

#DIV_23, #DIV_59, #DIV_63, #DIV_67, #DIV_71, #DIV_75, #DIV_79, #DIV_83, #DIV_87, #DIV_91, #DIV_95, #DIV_99, #DIV_103, #DIV_107, #DIV_111, #DIV_115, #DIV_119 {
    box-sizing: border-box;
    color: rgb(0, 24, 55);
    cursor: pointer;
    height: 42px;
    text-align: left;
    text-decoration: none solid rgb(0, 24, 55);
    width: 319px;
    column-rule-color: rgb(0, 24, 55);
    perspective-origin: 159.5px 21px;
    transform-origin: 159.5px 21px;
    caret-color: rgb(0, 24, 55);
    border: 0px none rgb(0, 24, 55);
    font: normal normal 400 normal 14px / 14px "Avenir Next", "Open Sans", "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    list-style: none outside none;
    outline: rgb(0, 24, 55) none 0px;
    padding: 10px 40px 10px 60px;
    transition: background-color 0.2s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}/*#DIV_23, #DIV_59, #DIV_63, #DIV_67, #DIV_71, #DIV_75, #DIV_79, #DIV_83, #DIV_87, #DIV_91, #DIV_95, #DIV_99, #DIV_103, #DIV_107, #DIV_111, #DIV_115, #DIV_119*/

#A_24, #A_28, #A_31, #A_34, #A_37, #A_40, #A_43, #A_46, #A_49, #A_52, #A_55, #A_60, #A_64, #A_68, #A_72, #A_76, #A_80, #A_84, #A_88, #A_92, #A_96, #A_100, #A_104, #A_108, #A_112, #A_116, #A_120 {
    box-sizing: border-box;
    color: rgb(0, 24, 55);
    text-align: left;
    text-decoration: none solid rgb(0, 24, 55);
    column-rule-color: rgb(0, 24, 55);
    perspective-origin: 0px 0px;
    transform-origin: 0px 0px;
    caret-color: rgb(0, 24, 55);
    border: 0px none rgb(0, 24, 55);
    font: normal normal 400 normal 14px / 14px "Avenir Next", "Open Sans", "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    list-style: none outside none;
    outline: rgb(0, 24, 55) none 0px;
}/*#A_24, #A_28, #A_31, #A_34, #A_37, #A_40, #A_43, #A_46, #A_49, #A_52, #A_55, #A_60, #A_64, #A_68, #A_72, #A_76, #A_80, #A_84, #A_88, #A_92, #A_96, #A_100, #A_104, #A_108, #A_112, #A_116, #A_120*/

#DIV_25, #DIV_61, #DIV_69, #DIV_77, #DIV_85, #DIV_93, #DIV_101, #DIV_109, #DIV_117 {
    box-sizing: border-box;
    color: rgb(0, 24, 55);
    cursor: pointer;
    height: 22px;
    letter-spacing: 0.15px;
    text-align: left;
    text-decoration: none solid rgb(0, 24, 55);
    width: 219px;
    column-rule-color: rgb(0, 24, 55);
    perspective-origin: 109.5px 11px;
    transform-origin: 109.5px 11px;
    caret-color: rgb(0, 24, 55);
    border: 0px none rgb(0, 24, 55);
    font: normal normal 500 normal 14px / 22px "Avenir Next", "Open Sans", "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    list-style: none outside none;
    outline: rgb(0, 24, 55) none 0px;
    transition: transform 0.2s cubic-bezier(0.215, 0.61, 0.355, 1) 0s, -webkit-transform 0.2s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}/*#DIV_25, #DIV_61, #DIV_69, #DIV_77, #DIV_85, #DIV_93, #DIV_101, #DIV_109, #DIV_117*/

#LI_26 {
    box-sizing: border-box;
    color: rgb(0, 24, 55);
    height: 706px;
    text-decoration: none solid rgb(0, 24, 55);
    width: 319px;
    column-rule-color: rgb(0, 24, 55);
    perspective-origin: 159.5px 353px;
    transform-origin: 159.5px 353px;
    caret-color: rgb(0, 24, 55);
    border: 0px none rgb(0, 24, 55);
    font: normal normal 400 normal 14px / 14px "Avenir Next", "Open Sans", "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    list-style: none outside none;
    outline: rgb(0, 24, 55) none 0px;
}/*#LI_26*/

#DIV_27 {
    box-sizing: border-box;
    color: rgb(0, 24, 55);
    height: 42px;
    text-align: left;
    text-decoration: none solid rgb(0, 24, 55);
    width: 319px;
    column-rule-color: rgb(0, 24, 55);
    perspective-origin: 159.5px 21px;
    transform-origin: 159.5px 21px;
    caret-color: rgb(0, 24, 55);
    background: rgb(228, 235, 255) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(0, 24, 55);
    font: normal normal 400 normal 14px / 14px "Avenir Next", "Open Sans", "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    list-style: none outside none;
    outline: rgb(0, 24, 55) none 0px;
    padding: 10px 40px 10px 60px;
}/*#DIV_27*/

#DIV_29 {
    box-sizing: border-box;
    color: rgb(0, 24, 55);
    cursor: pointer;
    height: 22px;
    letter-spacing: 0.15px;
    text-align: left;
    text-decoration: none solid rgb(0, 24, 55);
    width: 219px;
    column-rule-color: rgb(0, 24, 55);
    perspective-origin: 109.5px 11px;
    transform-origin: 109.5px 11px;
    caret-color: rgb(0, 24, 55);
    border: 0px none rgb(0, 24, 55);
    font: normal normal 500 normal 14px / 22px "Avenir Next", "Open Sans", "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    list-style: none outside none;
    outline: rgb(0, 24, 55) none 0px;
}/*#DIV_29*/

#OL_30 {
    box-sizing: border-box;
    color: rgb(0, 24, 55);
    height: 664px;
    text-align: left;
    text-decoration: none solid rgb(0, 24, 55);
    width: 319px;
    column-rule-color: rgb(0, 24, 55);
    perspective-origin: 159.5px 332px;
    transform-origin: 159.5px 332px;
    caret-color: rgb(0, 24, 55);
    border: 0px none rgb(0, 24, 55);
    font: normal normal 400 normal 14px / 14px "Avenir Next", "Open Sans", "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    list-style: none outside none;
    margin: 0px;
    outline: rgb(0, 24, 55) none 0px;
    padding: 0px;
}/*#OL_30*/

#LI_32, #LI_38, #LI_41, #LI_50, #LI_53 {
    bottom: 0px;
    box-sizing: border-box;
    color: rgb(0, 24, 55);
    cursor: pointer;
    height: 64px;
    left: 0px;
    position: relative;
    right: 0px;
    text-decoration: none solid rgb(0, 24, 55);
    top: 0px;
    width: 319px;
    column-rule-color: rgb(0, 24, 55);
    perspective-origin: 159.5px 32px;
    transform-origin: 159.5px 32px;
    caret-color: rgb(0, 24, 55);
    border: 0px none rgb(0, 24, 55);
    font: normal normal 400 normal 14px / 14px "Avenir Next", "Open Sans", "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    list-style: none outside none;
    outline: rgb(0, 24, 55) none 0px;
    padding: 10px 40px 10px 80px;
    transition: background-color 0.2s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}/*#LI_32, #LI_38, #LI_41, #LI_50, #LI_53*/

#DIV_33, #DIV_39, #DIV_51 {
    box-sizing: border-box;
    color: rgb(0, 24, 55);
    cursor: pointer;
    height: 44px;
    letter-spacing: 0.15px;
    text-align: left;
    text-decoration: none solid rgb(0, 24, 55);
    width: 199px;
    column-rule-color: rgb(0, 24, 55);
    perspective-origin: 99.5px 22px;
    transform-origin: 99.5px 22px;
    caret-color: rgb(0, 24, 55);
    border: 0px none rgb(0, 24, 55);
    font: normal normal 400 normal 14px / 22px "Avenir Next", "Open Sans", "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    list-style: none outside none;
    outline: rgb(0, 24, 55) none 0px;
    transition: transform 0.2s cubic-bezier(0.215, 0.61, 0.355, 1) 0s, -webkit-transform 0.2s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}/*#DIV_33, #DIV_39, #DIV_51*/

#LI_35, #LI_44, #LI_47, #LI_56 {
    bottom: 0px;
    box-sizing: border-box;
    color: rgb(0, 24, 55);
    cursor: pointer;
    height: 86px;
    left: 0px;
    position: relative;
    right: 0px;
    text-decoration: none solid rgb(0, 24, 55);
    top: 0px;
    width: 319px;
    column-rule-color: rgb(0, 24, 55);
    perspective-origin: 159.5px 43px;
    transform-origin: 159.5px 43px;
    caret-color: rgb(0, 24, 55);
    border: 0px none rgb(0, 24, 55);
    font: normal normal 400 normal 14px / 14px "Avenir Next", "Open Sans", "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    list-style: none outside none;
    outline: rgb(0, 24, 55) none 0px;
    padding: 10px 40px 10px 80px;
    transition: background-color 0.2s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}/*#LI_35, #LI_44, #LI_47, #LI_56*/

#DIV_36, #DIV_45, #DIV_57 {
    box-sizing: border-box;
    color: rgb(0, 24, 55);
    cursor: pointer;
    height: 66px;
    letter-spacing: 0.15px;
    text-align: left;
    text-decoration: none solid rgb(0, 24, 55);
    width: 199px;
    column-rule-color: rgb(0, 24, 55);
    perspective-origin: 99.5px 33px;
    transform-origin: 99.5px 33px;
    caret-color: rgb(0, 24, 55);
    border: 0px none rgb(0, 24, 55);
    font: normal normal 400 normal 14px / 22px "Avenir Next", "Open Sans", "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    list-style: none outside none;
    outline: rgb(0, 24, 55) none 0px;
    transition: transform 0.2s cubic-bezier(0.215, 0.61, 0.355, 1) 0s, -webkit-transform 0.2s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}/*#DIV_36, #DIV_45, #DIV_57*/

#DIV_42, #DIV_54 {
    box-sizing: border-box;
    color: rgb(0, 24, 55);
    cursor: pointer;
    height: 44px;
    letter-spacing: 0.15px;
    text-align: left;
    text-decoration: none solid rgb(0, 24, 55);
    width: 199px;
    column-rule-color: rgb(0, 24, 55);
    perspective-origin: 99.5px 22px;
    transform-origin: 99.5px 22px;
    caret-color: rgb(0, 24, 55);
    border: 0px none rgb(0, 24, 55);
    font: normal normal 400 normal 14px / 22px "Avenir Next", "Open Sans", "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    list-style: none outside none;
    outline: rgb(0, 24, 55) none 0px;
    transition: transform 0.2s cubic-bezier(0.215, 0.61, 0.355, 1) 0s, -webkit-transform 0.2s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}/*#DIV_42, #DIV_54*/

#DIV_48 {
    box-sizing: border-box;
    color: rgb(0, 24, 55);
    cursor: pointer;
    height: 66px;
    letter-spacing: 0.15px;
    text-align: left;
    text-decoration: none solid rgb(0, 24, 55);
    width: 199px;
    column-rule-color: rgb(0, 24, 55);
    perspective-origin: 99.5px 33px;
    transform-origin: 99.5px 33px;
    caret-color: rgb(0, 24, 55);
    border: 0px none rgb(0, 24, 55);
    font: normal normal 400 normal 14px / 22px "Avenir Next", "Open Sans", "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    list-style: none outside none;
    outline: rgb(0, 24, 55) none 0px;
    transition: transform 0.2s cubic-bezier(0.215, 0.61, 0.355, 1) 0s, -webkit-transform 0.2s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}/*#DIV_48*/

#DIV_65, #DIV_73, #DIV_89, #DIV_105, #DIV_121 {
    box-sizing: border-box;
    color: rgb(0, 24, 55);
    cursor: pointer;
    height: 22px;
    letter-spacing: 0.15px;
    text-align: left;
    text-decoration: none solid rgb(0, 24, 55);
    width: 219px;
    column-rule-color: rgb(0, 24, 55);
    perspective-origin: 109.5px 11px;
    transform-origin: 109.5px 11px;
    caret-color: rgb(0, 24, 55);
    border: 0px none rgb(0, 24, 55);
    font: normal normal 500 normal 14px / 22px "Avenir Next", "Open Sans", "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    list-style: none outside none;
    outline: rgb(0, 24, 55) none 0px;
    transition: transform 0.2s cubic-bezier(0.215, 0.61, 0.355, 1) 0s, -webkit-transform 0.2s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}/*#DIV_65, #DIV_73, #DIV_89, #DIV_105, #DIV_121*/

#DIV_81, #DIV_97 {
    box-sizing: border-box;
    color: rgb(0, 24, 55);
    cursor: pointer;
    height: 22px;
    letter-spacing: 0.15px;
    text-align: left;
    text-decoration: none solid rgb(0, 24, 55);
    width: 219px;
    column-rule-color: rgb(0, 24, 55);
    perspective-origin: 109.5px 11px;
    transform-origin: 109.5px 11px;
    caret-color: rgb(0, 24, 55);
    border: 0px none rgb(0, 24, 55);
    font: normal normal 500 normal 14px / 22px "Avenir Next", "Open Sans", "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    list-style: none outside none;
    outline: rgb(0, 24, 55) none 0px;
    transition: transform 0.2s cubic-bezier(0.215, 0.61, 0.355, 1) 0s, -webkit-transform 0.2s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}/*#DIV_81, #DIV_97*/

#DIV_113 {
    box-sizing: border-box;
    color: rgb(0, 24, 55);
    cursor: pointer;
    height: 22px;
    letter-spacing: 0.15px;
    text-align: left;
    text-decoration: none solid rgb(0, 24, 55);
    width: 219px;
    column-rule-color: rgb(0, 24, 55);
    perspective-origin: 109.5px 11px;
    transform-origin: 109.5px 11px;
    caret-color: rgb(0, 24, 55);
    border: 0px none rgb(0, 24, 55);
    font: normal normal 500 normal 14px / 22px "Avenir Next", "Open Sans", "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    list-style: none outside none;
    outline: rgb(0, 24, 55) none 0px;
    transition: transform 0.2s cubic-bezier(0.215, 0.61, 0.355, 1) 0s, -webkit-transform 0.2s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}/*#DIV_113*/

#DIV_122 {
	position: fixed;
	top: 61px;
	
    box-sizing: border-box;
    color: rgb(0, 24, 55);
    /* height: 7307px; */
    height: 100vh;
    min-width: 480px;
    text-decoration: none solid rgb(0, 24, 55);
    width: 1120px;
    column-rule-color: rgb(0, 24, 55);
    perspective-origin: 560px 3653.5px;
    transform-origin: 560px 3653.5px;
    caret-color: rgb(0, 24, 55);
    background: rgb(251, 250, 249) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(0, 24, 55);
    font: normal normal 400 normal 14px / 14px "Avenir Next", "Open Sans", "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    margin: 0px 0px 0px 320px;
    outline: rgb(0, 24, 55) none 0px;
}/*#DIV_122*/


